.cocktailItem {
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
}
.cocktailItem img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cocktailItem .linkCocktailItem {
    padding: 1vh 2% 2vh 2%;
    text-align: center;
    color: #262b46;
    text-decoration: none;
}
.ginMenu .cocktailItem{
    background:  #6FC3DF;
}
.vodkaMenu .cocktailItem {
background: #8D82C4;
}
.rumMenu .cocktailItem {
    background: #EC8D81;
}
.scotchMenu .cocktailItem {
    background: #E7B788;
}
.Non_AlcoholicMenu .cocktailItem{
    background: #8EA9E8;
}

@media (max-width: 767px){
    .cocktailItem h2 {
        font-size: 1.1em;
    }
}