@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Dosis:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Dosis", sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
}

/* test css */
.randomCocktail #left,
.randomCocktail #right {
  display: none;
}
.randomCocktail button {
  position: fixed;
  top: 10vh;
  left: calc(50vw + 20px);
  z-index: 99999999;
}
/* test css */
