/* test css */
.cocktailMenu{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.detailPage{
  position: fixed;
  width: 90%;
  height: 90vh;
  top: 0;
  right: 0;
  background: #ddd;
}
.detailPage img{
  width: 300px;
}
/* test css */
